h1{
    margin: 8px 0px 0px;
    color: #fff;
}
h4{
    padding: 0px 17px;
}
.gray{
    color: #00aced;
    cursor: pointer;
}
.username-color {
    color: #fff;
}
.MuiOutlinedInput-input {
    padding: 13.5px 14px!important;
}
.MuiButton-text {
    padding: 3px 3px !important;
}
.MuiInputLabel-outlined{
    line-height: 0!important;
}
.MuiAppBar-colorPrimary {
    color: #fff;
    background-color:#e4effa!important;
    box-shadow: none!important;
    height: 65px;
}
.MuiList-root {
    margin: 0px;
    padding: 0;
    position: relative;
    list-style: none;
    margin-bottom: 5px !important;
}
.MuiOutlinedInput-input {
    height: 8px!important;
    width: 800px!important;
    margin-bottom: 6px!important;
}
.MuiButton-textPrimary {
    color: #3f51b5;
    width: 0px !important;
    padding: 5px !important
}
.MuiButton-textPrimary {
    color: #fff !important;
    background-color: #0c2755 !important;
    margin-left: 15px !important;
    padding: 5px !important;
}
button.load-more {
    margin-top: 15px !important;
    margin-left: 325px !important;
}
.MuiFormControl-marginNormal {
    margin-bottom: 16px!important;
}
.makeStyles-content-7 {
    padding: 0px!important;
}
@media (min-width: 600px){
    .Home-drawer-2 {
        width: 210px !important;
        flex-shrink: 0;
    } 
}
@media (min-width: 600px){
    .Home-appBar-3 {
        width: calc(100% - 165px) !important;
    } 
}

@media (min-width: 600px){
    .MuiToolbar-regular {
        min-height: 64px;
        margin-left: 75px;
    }
}

@media (min-width: 600px){
    .Home-toolbar-5 {
        min-height: 50px !important;
    }
}
@media (min-width: 600px){

    .MuiToolbar-gutters {
        padding-left: 13px!important;
        padding-right: 24px;
    }
}
@media (min-width: 600px)
{
    .MuiGrid-grid-sm-2 {
        flex-grow: 0;
        max-width: 9.666667% !important;
        flex-basis: 16.666667%;
    }
}

@media (min-width: 600px){
    .Home-appBar-371 {
        width: calc(100% - 216px) !important;
    }
}
.MuiListItem-root {
    width: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    padding-top: 0px! important;
    padding-bottom: 0px! important; 
    justify-content: flex-start;
    text-decoration: none;
}

fieldset.PrivateNotchedOutline-root-153.MuiOutlinedInput-notchedOutline {
    padding-left: 31.5px;
    width: 320px !important;
}
.main_class_post {
    overflow: auto;
    background-color: #e6ecf0;
}


.MuiTypography-noWrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 333px;
}

.MuiTypography-body1 {
    font-size: 12px !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}
.MuiDivider-root {
    height: 1px;
    margin: 0;
    border: none;
    flex-shrink: 0;
    margin-top: 10px !important;
    background-color: rgba(0, 0, 0, 0.12);
}

span.MuiTypography-root.MuiTypography-body1.MuiListItemText-primary {
    color: #fff !important;
}
.makeStyles-drawerPaper-6 {
    width: 240px;
    background-color: #213446!important;
    color: white!important;
    outline: none;
    border: none;
}
.MuiDivider-root {
    background-color: #989393!important;
}
.MuiListItem-button:hover {
    background-color: gray!important;
    color: #fff !important;
}
.makeStyles-icon-8 {
    color: gray!important;
}
.MuiFab-primary {
    background-color: #4ea0e0!important;
}
.add_tweet {
    position: fixed;
    bottom: 16px !important;
    right: 35px !important;
}

.MuiOutlinedInput-root {
    position: relative;
    width: 718px !important;
}
.MuiPaper-root.MuiPaper-elevation0.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft {
    color: #fff;
    background-color: #0c2755!important;
    width: 215px;
}


.MuiList-padding {
 padding-top: 0px !important; 
 padding-bottom: 0px !important; 
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    width: 70px !important;
}

button {
    background-color: #00aced;
    border: none;
    padding: 9px;
    font-size: 14px;
    color: white;
    border-radius: 41px;
    outline: none;
}
button.video-react-big-play-button.video-react-big-play-button-left {
    margin-top: 75px !important;
    margin-left: 143px !important;
}
.video-react .video-react-big-play-button {
    font-size: 3em;
    line-height: 1.5em;
    height: 1.5em !important;
    width: 2em !important;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0;
    cursor: pointer;
    opacity: 1;
    border: 0.06666em solid #fff;
    background-color: #2B333F;
    background-color: rgba(43, 51, 63, 0.7);
    border-radius: 0.3em;
    transition: all 0.4s;
}
.search-tweet-imag{

    width: 370px !important;
}
/*custom class*/
.profile_main_class {
    background-color: #1fc8db;
    padding: 10px 49px;
    margin-top: 28px;
}

.video{

    width: 378px !important;
}

.profile_img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-left: -8px;
}
.profile_img img{
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.logo {
    position: absolute;
    top: 9px;
    left: 52px;
    font-size: 25px;
    font-family: cursive;
    color: #fff !important;
}
.Home-toolbar-5 {
    margin-top: -27px!important;
}
button.video-react-icon-fullscreen.video-react-fullscreen-control.video-react-control.video-react-button.video-react-icon {
    margin-left: -25px !important;
}
button.video-react-play-control.video-react-control.video-react-button.video-react-paused {
    margin-left: 0px !important;
}

.tweet_class1{
    padding: 10px;
    width: 650px !important;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    /*box-shadow: 0px 10px 10px #0000004d;*/
    background-color: white;
    margin-top: 20px !important;
}
.profile_image_post{
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}
.hash_color{

    color: #1DA1F2;
    margin-left: 4px;
    cursor: pointer;
    margin-top: 0px !important;

}
.hashtag_flex{

    display: flex;
    word-break: break-all;
}
.profile_image_post img{
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
}
.video_height{

    height: 200px;
}

.image_tweet{
    width: 550px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
}
.image_tweet img{
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}
.like_comment{
    text-align: center;
    margin: auto;
}
.like_comment p{
    margin: 0;
}
.add_tweet {
    position: fixed;
    bottom: 62px;
    right: 90px;
}
.tweet_class2{
    background-color: white;
    width: 700px;
    height: 100%;
    margin: auto; 
    border: 1px solid black;
}
.search_modals {
    margin: auto;
    text-align: left;
    background-color: #e6ecf0;
    padding: 10px;
    
}
.search_modals button{
 left: 0;
 right: 0;
 margin: auto;
 display: table;
 height: 40px!important;
 z-index: 11;
 background-color: #4EA0E0;
 border-radius: 10px;
 border: none;
 padding: 13px!important;
 color: black;
 width: auto!important;
 font-size: 16px;
}
.PrivateNotchedOutline-legend-154 {
    padding: 0;
    text-align: left;
    transition: width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    line-height: 0px !important;
}
.slick-prev{
    top: 0;
}
.slick-next{
    bottom: 0;
}
.username_title {
    font-size: 16px;
    color: black;
    font-weight: bold;
    margin-right: 3px;
    display: inline-block;
}

.tweet_class_search {
    padding: 21px;
    width: 738px;
    margin-bottom: 7px;
    border-radius: 5px;
    border: 1px solid lightgray;
    /*box-shadow: 0px 10px 10px #0000004d;*/
    background-color: white;
    margin: auto;
    margin-bottom: 20px !important;
}
.tweet_bg_color{

    margin-left: 132px !important;
}
.Home-menuButton-4 {
    margin-right: 16px;
    margin-left: -113px !important;
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item {
    --mdc-ripple-fg-size: 0;
    --mdc-ripple-left: 0;
    --mdc-ripple-top: 0;
    --mdc-ripple-fg-scale: 1;
    --mdc-ripple-fg-translate-end: 0;
    --mdc-ripple-fg-translate-start: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: contents !important;
}
.profile_image_post1 {
    width: 98px;
    height: 96px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto 0px;
    margin-left: -79px;
    margin-top: 8px;
}
.profile_image_post1 img{
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
}
.MuiDrawer-paper {
    top: 0;
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    z-index: 1200;
    outline: none;
    position: fixed;
    overflow-y: auto;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
}
.MuiOutlinedInput-root {
    position: relative;
    width: 330px !important;
}
.hashtag{
    color: #fafaf8d4;
    margin-left: 4px !important;
    margin-top: -20px !important;
    cursor: pointer;
}
.trendshashtag {
    color: #fafaf8d4;
    cursor: pointer;
    margin-left: 4px !important;
    margin-top: -20px !important;
}
.MuiFab-root {
    width: 36px !important;
    color: rgba(0, 0, 0, 0.87);
    height: 36px !important;
    padding: 0;
    font-size: 0.875rem;
    min-width: 0;
    box-sizing: border-box;
    min-height: 36px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0px 10px 10px #0000004d;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 50%;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    background-color: #e0e0e0;
}
.MuiInputBase-input {
    color: black!important;
}

.MuiFormControl-marginNormal {
    margin-top: 16px;
    margin-bottom: 8px;

}

.Home-content-7 {
    padding: 14px 0px!important;

}
.MuiGrid-container {
    width: 107% !important;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.search-tweets{

    margin-left: 40px;
}
svg {
    color: black!important; 
}
.font-size {
    font-size: 14px;
    color: #fff;
    padding: 4px 20px;
    margin-top: 11px!important;
}
.Home-icon-8 {
    margin: 8px;
    font-size: 20px !important;
}

.img-twitter-logo {
    width: 28px;
    height: 28px;
    margin-top: -10px;
    border-radius: 20px;
    margin-left: 17px;
}
.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #38A1F3;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  animation: spin 2s linear infinite;
  margin-top: 200px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
button.btn.btn-primary {
    background-color: #00aced;
    border: none;
    padding: 9px;
    font-size: 14px;
    color: white;
    border-radius: 41px;
    outline: none;
    margin: 0px !important;
    width: 247px;
    margin-left: 13px !important;
    margin-top: 0px !important;
}

i.fas.fa-trash {
    color: lightgray !important;
}
.MuiButton-root {
    color: rgba(0, 0, 0, 0.87);
    padding: 6px 16px;
    font-size: 11px !important;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    line-height: 1.75;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
}

.swal2-actions {
    z-index: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 250px !important;
    margin: 1.25em auto 0;
    margin-left: 26px !important;
}
i.fas.fa-pencil-alt {
    margin-left: 12px !important;
}
.Home-drawerPaper-6{

    background-color: #0c2755!important
}